/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* LOLZ */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
}

.buttons {
  position: absolute;
  top: -3rem;
  transform: translateY(-100%);
}

.start-buttons.nope {
  display: none;
}

.restart-button.nope {
  display: none;
}

.board {
  width: 50vmin;
  height: 50vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board.nope {
  visibility: hidden;
}

.board > div {
  font-size: 2rem;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board > div:nth-child(3n) {
  border-right: 0;
}

.board > div:nth-last-child(-n+3) {
  border-bottom: 0;
}

.result {
  position: absolute;
  bottom: -3rem;
  text-align: center;
}
